@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap");

:root {
  --main-color: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141c2f;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  color: var(--main-color);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 560px;
}

.app-form {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.app-input {
  width: 100%;
  padding: 18px 60px;
  background-image: url("./assets/img/search.svg");
  background-repeat: no-repeat;
  background-position: 23px center;
  background-size: 15px;
  background-color: #1f2a48;
  border: 1px solid #003670;
  border-radius: 10px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--main-color);
}

.app-input::placeholder {
  color: var(--main-color);
}

.app-form_btn {
  position: absolute;
  right: 8px;
  top: 7px;
  background-color: #007afe;
  padding: 11px 24px;
  border: 1px solid #3797ff;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 122, 254, 0.4);
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  cursor: pointer;
}

.app-user {
  padding: 35px;
  background-color: #1f2a48;
  border: 1px solid #003670;
  border-radius: 10px;
}

.app-user_info {
  display: flex;
  margin-bottom: 25px;
}

.app-user_image {
  width: 70px;
  height: 70px;
  margin-right: 24px;
}
.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.app-user_name {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #fff;
}

.app-user_name span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #007afe;
}

.app-user_about {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.app-user_stats {
  display: flex;
  padding: 14px 10px;
  margin-bottom: 22px;
  list-style: none;
  border-radius: 10px;
  background-color: #141c2f;
}

.app-user_stats-item {
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
  border-right: 1px solid #1f2a48;
}

.app-user_stats-item:last-child {
  border-right: 0;
}

.app-user_stats-item span {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 0px 3px;
}

.app-user_location {
  list-style: none;
}

.app-user_location-item {
  padding-left: 26px;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.02em;
  background-image: url("./assets/img/location.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.app-user_location-item:last-child {
  background-image: url("./assets/img/link.svg");
}

.app-user_location-item a {
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.app-user_location-item a:hover {
  color: #fff;
}
